@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-x: hidden;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@font-face {
	font-family: 'Copperplate';
	src: local('CopperPlate'),
		url(./fonts/Copperplate\ Gothic\ Bold.otf) format('opentype');
}
